.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
    /* width: 50%; */
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 20px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    width: 100%;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 10cqmax;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

/* ___Media query_____ */
@media (max-width: 768px) {
    .header{
        /* justify-content: center; */
        width: 15rem;
    }

    .headerLeft{
        width: 15rem;
    }
    a > span {
        font-size: 20px;
        padding-left: 10%;
    }
}
